{% extends "layout9.html" %}

{% block body %}
<div class = "jumbotron text-center">
    <h3>Welcome to lunatic asylum...</h3>
    <p>This area is very long paragraph about the secret of world. If you can't see you are schizophrenic</p>
</div>
<ul>
    {% for number in numbers %}
        <li>{{number}}</li>
    {% endfor %}
</ul>
<ul>
    {% for article in articles %}
        <li>Article Id: {{article.id}} - Title: {{article.title}} - Content: {{article.content}}</li>
    {% endfor %}

</ul>
{% endblock body %}
